.banner {
    position: fixed;
    height: 100%;
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
}

.banner__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    padding: 75px 0;
    max-width: 950px;
    margin: 0 auto;
    text-align: center;
    z-index: 1;
}

.banner__title {
    max-width: 640px;
    margin: 0 auto;
    font-size: 5rem;
    font-weight: 700;
}

.banner__description {
    font-size: 3rem;
    font-weight: 600;
}

.banner--fadeBottom {
    height: 7.4rem;
    background-image: linear-gradient(180deg, transparent, rgba(37,37,37, 0.61), #111);
}