.banner {
    position: fixed;
    height: 100%;
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: contain;
}

.banner__contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    width: 80%;
}