.row {
    color: white;
    margin: 2rem 4rem;
}
.row__title {
}

.row__posters {
    display: flex;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 2rem;
}
.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
    width: 100%;
    max-width: 100%;
    transition: transform 450ms;
}

.row__poster:hover {
    transform: scale(1.08);
    opacity: 1;
}

.row__posterLarge {
    max-height: 250px;
}