.row {
    color: white;
    margin-left: 20px;
}

.row__posters {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}
.row__posters::-webkit-scrollbar {
    display: none;
}

.row__poster {
    max-height: 100px;
    object-fit: contain;
    margin-right: 10px;
}


.row__posterLarge {

}