.row {
    color: white;
    margin-left: 20px;
}

.row__posters {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.row__poster {
    max-height: 100px;
}

.row__poster::-webkit-scrollbar {
    display: none;
}

.row__posterLarge {

}